<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Account Activation</title>
  <style>
    .code {
      background-color: #ececec;
      font-size: 22pt;
      margin-left: 20px;
      padding: 10px;
      display: inline;
      color: #333
    }
  </style>
</head>

<body>
  Hi {{ username }},
  <p>
    Someone (hopefully you) has requested a password reset for your Post App account.Using this code below to accomplish
    setting a new password.
  </p>
  <p class="code">
    {{ code }}</p>
  <p>
    If you don't wish to reset your password, disregard this email and no action will be taken.
  </p>
  <p>Happy emailing!</p>
  <p>The Post App</p>
</body>

</html>
